@import url(//db.onlinewebfonts.com/c/4504d77ae8b1517de38b53c4c4ec6461?family=Circular+Sp+UI+v3+T+Bold);
@font-face {font-family: "Circular Sp UI v3 T Bold"; src: url("//db.onlinewebfonts.com/t/4504d77ae8b1517de38b53c4c4ec6461.eot"); src: url("//db.onlinewebfonts.com/t/4504d77ae8b1517de38b53c4c4ec6461.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/4504d77ae8b1517de38b53c4c4ec6461.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/4504d77ae8b1517de38b53c4c4ec6461.woff") format("woff"), url("//db.onlinewebfonts.com/t/4504d77ae8b1517de38b53c4c4ec6461.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/4504d77ae8b1517de38b53c4c4ec6461.svg#Circular Sp UI v3 T Bold") format("svg"); }
html, body, head{
    margin:0px;
    padding: 0px;
}
nav{
    display: flex;
    justify-content: center;
    align-items:flex-start;
}
body{
    background-color: rgb(93, 177, 251);
}
main{
    background-color: rgb(93, 177, 251);
}
p{
    color:white;
}


.main-container{
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    padding-top:100px;
    width:100vw;
    height:80vh;
    transition:1s;
}
.opaque{
    opacity: 1;
    transform: translate(0,0px);
}
.transparent{
    opacity: 0;
    transform: translate(0,20px);
}
.transparent2{
    opacity: 0;
    transform: translate(0,-40px);
}

#login-container{
    width:100%;
 
}

#login-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height:100px;
    font-size: 24px;
    font-weight: 300;
    font-family: "Circular Sp UI v3 T Bold";
}

#form-container{
    height:300px;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}
#login-form{
    width: 400px;
}
label{
    font-size: 14px;
    font-family: "Circular Sp UI v3 T Bold";
    font-weight: 500;
    height: 20px;
    color:white;
    margin-bottom: 5px;
   
}

.input-box{
    
    border-style: solid;
    border-width: 1px;
    border-color:rgb(201, 201, 201);
    width:300px;
    height:30px;
    padding:4px;
    padding-left:8px;
    font-family: "Circular Sp UI v3 T Bold";
    font-size:16px;
    font-weight: 400;
    border-radius: 5px;
    
}
.input-user-cnt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.input-pass-cnt{
    margin-top:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.input-cnt{
    margin-top:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seperator{
    margin: 10px;
    width:30%;
    height:1px;
    background-color: rgb(43, 125, 198);
}

#register-bttn{
    width:300px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border-style: solid;
    border-width:2px;
    border-color: white;
    background-color: rgb(0, 116, 218);
    font-family: "Circular Sp UI v3 T Bold";
    font-size: 16px;
    padding:4px;
    color:white;
    transition: 0.5s;
}
#register-bttn:hover{
    background-color: rgb(93, 177, 251);
}
#register-bttn:active{
    background-color: rgb(79, 137, 188);
}
.spacing{
    width:100%;
    height:10px;
}
.text{
    font-family: "Circular Sp UI v3 T Bold";
    font-size:16px;
    color:black;
    text-align: center;
}
.hidden{
    display: none;
}
